
.container {
  display: grid;
  grid-template-columns: 9fr;
  justify-content: center;
}
#image{
  margin: 50px 80px;
}
.imagen-negra {
  filter: brightness(0%) invert(100%);
  mix-blend-mode: difference;

  
}
.fondo{
  width: 100%;
  height: 500px;
}
