<h1 class="text-center">{{timer}}</h1>
<div class="container" >
  <div  *ngIf="currentQuestionIndex < questions.length">
<div class="fondo" style="background-image: url('assets/fondo.jpg');  
background-size: contain;
background-size: 100% 100%;
background-repeat: no-repeat; ">
  <img id="image" width="350px" height="350px" src="{{questions[currentQuestionIndex].image}}" class="imagen-negra" alt="Imagen">
</div>

    <div class="row">
      <button (click)="checkAnswer(questions[currentQuestionIndex].options[0])"
        class="btn btn-primary btn-block col m-2">{{ questions[currentQuestionIndex].options[0] }}</button>
      <button (click)="checkAnswer(questions[currentQuestionIndex].options[1])"
        class="btn btn-warning btn-block col m-2">{{ questions[currentQuestionIndex].options[1] }}</button>
    </div>
    <div class="row">
      <button (click)="checkAnswer(questions[currentQuestionIndex].options[2])"
        class="btn btn-danger btn-block col m-2"> {{ questions[currentQuestionIndex].options[2] }}</button>
      <button (click)="checkAnswer(questions[currentQuestionIndex].options[3])"
        class="btn btn-success btn-block col m-2">{{ questions[currentQuestionIndex].options[3] }}</button>
    </div>
   
</div> 
<!-- <div class="rigth">
  <img src="assets/ash.png" alt="">
</div> -->
</div>